body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;

}
.header_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header_content_logo{
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header_content_nav-link{
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 10px 18px ;
    
}
.header_content_nav-button{
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 40px;
    border: 2px solid #000;
    width: 90px;
    height: 36px;
    flex-shrink: 0;
    background: none;
    
}
@media screen and (max-width:382px) {
    .header_content_logo{
        flex-direction: row-reverse;
        
    }
}
.hero{
     opacity: 11;
     background: url(https://s3-alpha-sig.figma.com/img/a397/4a28/0dc63d9ccd142ecdbf799689440dc6be?Expires=1699228800&Signature=VnNYmyeSFRuKK-mzpgzPcB5B6glemiyCnHheN56uloAa5Stco5UI9Ilc2g7~KTc2tfY8FJQxIGIBAW2U5P2RRzsFHmiffCChXH~g7UNbE8hYs-YjBFJsRxmEyBgEWTQaLvloO0-1QarxB6g3n1n2S2TkUmEllBZslS6BvCcV1ADyP0DhpPKbhD3dh2hsM~q3YXDzIZ~2fEUbzWEnXiakx2QtXlGG-H6ir8CE6u8KZAZpAl7L1riW~ogYnhLURT0spc2Q7JL4m737--1NSMrw6pTBIaiJICYaxbWf3h6vhcGOQyLsimIFnNqYrq80zg~JbItxG5UCUVpsH9OSXLU10w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4)center/cover, rgb(14, 9, 9) 0px 0px / 100% 100% no-repeat;
    height: 100vh; 
    }

.hero_title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.hero_title-text{
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto;
    padding: 200px 0 0;
    


}
.hero_title-text1{
    color: #F7F3F2;
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 24.5px; 
    margin: 0;
    padding: 20px 50px;
}
.hero_title-button{
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 40px;
    background: #FF4E50;
    border-color: #FF4E50;
    width: 225px;
    height: 40px;
    flex-shrink: 0;
}


@media screen and (max-width:940px) {
    .hero_title-text{
        font-size: 80px;
    }
}
@media screen and (max-width:818px) {
    .hero_title-text{
        font-size: 70px;
    }
}
@media screen and (max-width:730px){
    .hero_title-text{
        font-size: 60px;
    }
}
@media screen and (max-width:639px) {
    .hero_title-text{
        font-size: 60px;
    }
}
@media screen and (max-width:560px) {
    .hero_title-text{
        font-size: 50px;
    }
}
@media screen and (max-width:468px) {
    .hero_title-text{
        font-size: 45px;
    }
}
@media screen and (max-width:458px) {
    .hero_title-text{
        font-size: 35px;
    }
}
@media screen and (max-width:380px){
    .hero_title-text1{
        font-size: 40px;
    }
}
@media screen and (max-width:429px){
    .hero_title-text1{
        font-size: 20px;
    }
}
@media screen and (max-width:380px){
    .hero_title-button{
        width: 310px;
    }
}
